body { background-color: #d4dfd0; }
ul   { list-style-type: none; }
li a { display: block; padding: 16px; text-decoration: none; color: #3d4f42; }
h1 a { text-decoration: none; color: black; }
.container { background-color: #fffffa; border: 1px solid #aaaaaa; padding: 50px; }
.container h2 { margin-bottom: 0px; }
.container .about { padding-bottom: 20px; color: #979595 }
.description { padding-top: 10px; }
